Project01/node RED/Node RED flow.json
[
    {
        "id": "7db0c3eb4b0f939a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "741b3a0ebc5819f3",
        "type": "mqtt in",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85a40ea9920fc7e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1650,
        "y": 980,
        "wires": [
            [
                "5d4012c829532e40",
                "693f60e60ae6ea1c"
            ]
        ]
    },
    {
        "id": "5d4012c829532e40",
        "type": "ui_gauge",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "group": "f7805a9db9632b1a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1890,
        "y": 1180,
        "wires": []
    },
    {
        "id": "693f60e60ae6ea1c",
        "type": "ui_chart",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "group": "f7805a9db9632b1a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1850,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "84ad5fb3fd75c558",
        "type": "ui_switch",
        "z": "7db0c3eb4b0f939a",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "b4309d8ed8c52dd7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1750,
        "y": 720,
        "wires": [
            [
                "91bcfff6deba8b6b"
            ]
        ]
    },
    {
        "id": "91bcfff6deba8b6b",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "ADMIN-MAIN-ON-OFF",
        "topic": "CSE-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1800,
        "y": 880,
        "wires": []
    },
    {
        "id": "b6ad8c9fa88270a8",
        "type": "ui_switch",
        "z": "7db0c3eb4b0f939a",
        "name": "Scheduled Switch",
        "label": "switch",
        "tooltip": "",
        "group": "ef721fa066e8b6f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "978afc966cb67d68"
            ]
        ]
    },
    {
        "id": "978afc966cb67d68",
        "type": "change",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 860,
        "wires": [
            [
                "328fa470f75bab76"
            ]
        ]
    },
    {
        "id": "e9dd6d5e8084cdbe",
        "type": "ui_date_picker",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "ON",
        "group": "ef721fa066e8b6f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "e8ce3bc97112a5d9"
            ]
        ]
    },
    {
        "id": "fcc521348817a0e6",
        "type": "ui_text_input",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ef721fa066e8b6f0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 960,
        "y": 1120,
        "wires": [
            [
                "c72b58c55aac8f72"
            ]
        ]
    },
    {
        "id": "e8ce3bc97112a5d9",
        "type": "change",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1060,
        "wires": [
            [
                "328fa470f75bab76"
            ]
        ]
    },
    {
        "id": "c72b58c55aac8f72",
        "type": "change",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1220,
        "wires": [
            [
                "328fa470f75bab76"
            ]
        ]
    },
    {
        "id": "328fa470f75bab76",
        "type": "function",
        "z": "7db0c3eb4b0f939a",
        "name": "function 1",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif(isScheduled && scheduleDate && scheduleTime){\n\n    let schedule = scheduleDate+scheduleTime;\n\n    if(Date.now()>schedule){\n        return {\n            payload:\"OLDER\"\n        }\n    }else{\n        return {\n            payload:schedule\n        }\n    }\n} else if(isScheduled === false){\n    return {\n        payload: \"NOT-SCHEDULED-ON\"\n    }\n} else {\n    return {\n        payload: null\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 1060,
        "wires": [
            [
                "319da52024983d04"
            ]
        ]
    },
    {
        "id": "319da52024983d04",
        "type": "switch",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1010,
        "y": 1460,
        "wires": [
            [
                "9ea530c234830487"
            ],
            [
                "218b27e9a317fef1"
            ],
            [
                "bcb20961dc60805f"
            ],
            [
                "bd13411d6a7c2d3d"
            ]
        ]
    },
    {
        "id": "9ea530c234830487",
        "type": "function",
        "z": "7db0c3eb4b0f939a",
        "name": "function 2",
        "func": "return{\n    payload:\"NOT\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1320,
        "wires": [
            [
                "b1f357178c5e902d"
            ]
        ]
    },
    {
        "id": "bcb20961dc60805f",
        "type": "function",
        "z": "7db0c3eb4b0f939a",
        "name": "function 3",
        "func": "return{\n    payload:Math.round(msg.payload/1000),\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1360,
        "wires": [
            [
                "b1f357178c5e902d"
            ]
        ]
    },
    {
        "id": "218b27e9a317fef1",
        "type": "function",
        "z": "7db0c3eb4b0f939a",
        "name": "function 4",
        "func": "return{\n    payload:\"please enter a future time\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1480,
        "wires": [
            [
                "444c8a1ce43b8720"
            ]
        ]
    },
    {
        "id": "bd13411d6a7c2d3d",
        "type": "function",
        "z": "7db0c3eb4b0f939a",
        "name": "function 5",
        "func": "return{\n    payload:\"please enter valid date and time\",\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1520,
        "wires": [
            [
                "444c8a1ce43b8720"
            ]
        ]
    },
    {
        "id": "444c8a1ce43b8720",
        "type": "ui_toast",
        "z": "7db0c3eb4b0f939a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1450,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b1f357178c5e902d",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1490,
        "y": 1340,
        "wires": []
    },
    {
        "id": "4c240bdce4a28dd3",
        "type": "mqtt in",
        "z": "7db0c3eb4b0f939a",
        "name": "ESP-ON-OFF",
        "topic": "CSE-ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85a40ea9920fc7e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1470,
        "y": 660,
        "wires": [
            [
                "84ad5fb3fd75c558"
            ]
        ]
    },
    {
        "id": "352fe35e97844ce3",
        "type": "mqtt in",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85a40ea9920fc7e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1060,
        "y": 620,
        "wires": [
            [
                "b08bbc529e438ce8"
            ]
        ]
    },
    {
        "id": "b08bbc529e438ce8",
        "type": "function",
        "z": "7db0c3eb4b0f939a",
        "name": "function 6",
        "func": "\nreturn {\n    payload:msg.payload === 1\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 700,
        "wires": [
            [
                "b6ad8c9fa88270a8"
            ]
        ]
    },
    {
        "id": "283e909bee05663e",
        "type": "mqtt in",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-LDR-AVG",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85a40ea9920fc7e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 1600,
        "wires": [
            [
                "91283c66ae6d9d29",
                "542dc33be1c96b5d",
                "982bf70bdd98b24f"
            ]
        ]
    },
    {
        "id": "91283c66ae6d9d29",
        "type": "ui_chart",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "group": "469895415cd15e45",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1670,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "d3bc59176bcf06e2",
        "type": "ui_slider",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "Sampling Interval",
        "tooltip": "",
        "group": "469895415cd15e45",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "2500",
        "step": 1,
        "className": "",
        "x": 1370,
        "y": 1880,
        "wires": [
            [
                "80f4fe76775bc256"
            ]
        ]
    },
    {
        "id": "20511b751e902505",
        "type": "ui_slider",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "Sending interval",
        "tooltip": "",
        "group": "469895415cd15e45",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0.1",
        "max": "2",
        "step": "0.1",
        "className": "",
        "x": 1360,
        "y": 1980,
        "wires": [
            [
                "dd1042b0190f4db2"
            ]
        ]
    },
    {
        "id": "80f4fe76775bc256",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-LDR-SAMPLE-INTERVAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1740,
        "y": 1860,
        "wires": []
    },
    {
        "id": "dd1042b0190f4db2",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-LDR-SEND-INTERVAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1730,
        "y": 1980,
        "wires": []
    },
    {
        "id": "a3f8d1e966512a35",
        "type": "mqtt in",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-SERVO-ANGLE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85a40ea9920fc7e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1390,
        "y": 2220,
        "wires": [
            [
                "0d4625febef2967c"
            ]
        ]
    },
    {
        "id": "0d4625febef2967c",
        "type": "ui_text",
        "z": "7db0c3eb4b0f939a",
        "group": "8b5756e0c9073b4b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Servo angle",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1770,
        "y": 2220,
        "wires": []
    },
    {
        "id": "de542d61fa1045d0",
        "type": "ui_slider",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "θ_offset (degrees)",
        "tooltip": "",
        "group": "f7805a9db9632b1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 1410,
        "y": 2360,
        "wires": [
            [
                "a3bc5a8ce1a35b5b"
            ]
        ]
    },
    {
        "id": "a3bc5a8ce1a35b5b",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-THETA-OFFSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1770,
        "y": 2380,
        "wires": []
    },
    {
        "id": "6504a8fa22b81266",
        "type": "ui_slider",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "γ (Control Factor)",
        "tooltip": "",
        "group": "f7805a9db9632b1a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 1410,
        "y": 2440,
        "wires": [
            [
                "0cec378126ed4ae0"
            ]
        ]
    },
    {
        "id": "0cec378126ed4ae0",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-CONTROL-FACTOR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1820,
        "y": 2460,
        "wires": []
    },
    {
        "id": "da62e7368c803938",
        "type": "ui_slider",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "label": "T_med (°C)",
        "tooltip": "",
        "group": "f7805a9db9632b1a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": "0.5",
        "className": "",
        "x": 1390,
        "y": 2520,
        "wires": [
            [
                "7f28ccd301402afa"
            ]
        ]
    },
    {
        "id": "7f28ccd301402afa",
        "type": "mqtt out",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "topic": "ADMIN-TMED",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85a40ea9920fc7e6",
        "x": 1760,
        "y": 2540,
        "wires": []
    },
    {
        "id": "542dc33be1c96b5d",
        "type": "ui_text",
        "z": "7db0c3eb4b0f939a",
        "group": "469895415cd15e45",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light level",
        "format": "{{payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1720,
        "y": 1640,
        "wires": []
    },
    {
        "id": "982bf70bdd98b24f",
        "type": "ui_gauge",
        "z": "7db0c3eb4b0f939a",
        "name": "",
        "group": "469895415cd15e45",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1710,
        "y": 1700,
        "wires": []
    },
    {
        "id": "85a40ea9920fc7e6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "limetawny-161906ba.a03.euc1.aws.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": "15",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f7805a9db9632b1a",
        "type": "ui_group",
        "name": "Medibox Temp",
        "tab": "0a7cc326e947477f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4309d8ed8c52dd7",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "0a7cc326e947477f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef721fa066e8b6f0",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "0a7cc326e947477f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "469895415cd15e45",
        "type": "ui_group",
        "name": "Light intensity monitoring",
        "tab": "0a7cc326e947477f",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b5756e0c9073b4b",
        "type": "ui_group",
        "name": "Servo controle",
        "tab": "0a7cc326e947477f",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a7cc326e947477f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]