Project01/node RED/nodeRed01.json
[
  {
    "id": "medibox_dashboard",
    "type": "tab",
    "label": "Medibox Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in_light",
    "type": "mqtt in",
    "z": "medibox_dashboard",
    "name": "Light Intensity",
    "topic": "medibox/light_intensity",
    "qos": "2",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 100,
    "y": 100,
    "wires": [["light_display", "light_chart"]]
  },
  {
    "id": "light_display",
    "type": "ui_text",
    "z": "medibox_dashboard",
    "group": "light_group",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Average Light Intensity",
    "label": "Avg Light Intensity",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 300,
    "y": 80,
    "wires": []
  },
  {
    "id": "light_chart",
    "type": "ui_chart",
    "z": "medibox_dashboard",
    "group": "light_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Light Intensity Chart",
    "label": "Light Intensity Over Time",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "1",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4"],
    "x": 300,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "slider_ts",
    "type": "ui_slider",
    "z": "medibox_dashboard",
    "group": "light_group",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Sampling Interval",
    "label": "Sampling Interval (s)",
    "min": 1,
    "max": 60,
    "value": 5,
    "step": 1,
    "x": 100,
    "y": 200,
    "wires": [["mqtt_out_ts"]]
  },
  {
    "id": "mqtt_out_ts",
    "type": "mqtt out",
    "z": "medibox_dashboard",
    "name": "",
    "topic": "medibox/config/ts",
    "qos": "2",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 300,
    "y": 200,
    "wires": []
  },
  {
    "id": "slider_tu",
    "type": "ui_slider",
    "z": "medibox_dashboard",
    "group": "light_group",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Sending Interval",
    "label": "Sending Interval (s)",
    "min": 60,
    "max": 600,
    "value": 120,
    "step": 1,
    "x": 100,
    "y": 240,
    "wires": [["mqtt_out_tu"]]
  },
  {
    "id": "mqtt_out_tu",
    "type": "mqtt out",
    "z": "medibox_dashboard",
    "name": "",
    "topic": "medibox/config/tu",
    "qos": "2",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 300,
    "y": 240,
    "wires": []
  },
  {
    "id": "slider_theta_offset",
    "type": "ui_slider",
    "z": "medibox_dashboard",
    "group": "servo_group",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Min Angle",
    "label": "Min Angle (°)",
    "min": 0,
    "max": 120,
    "value": 30,
    "step": 1,
    "x": 100,
    "y": 320,
    "wires": [["mqtt_out_theta_offset"]]
  },
  {
    "id": "mqtt_out_theta_offset",
    "type": "mqtt out",
    "z": "medibox_dashboard",
    "name": "",
    "topic": "medibox/config/theta_offset",
    "qos": "2",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 300,
    "y": 320,
    "wires": []
  },
  {
    "id": "slider_gamma",
    "type": "ui_slider",
    "z": "medibox_dashboard",
    "group": "servo_group",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Controlling Factor",
    "label": "Controlling Factor",
    "min": 0,
    "max": 1,
    "value": 0.75,
    "step": 0.01,
    "x": 100,
    "y": 360,
    "wires": [["mqtt_out_gamma"]]
  },
  {
    "id": "mqtt_out_gamma",
    "type": "mqtt out",
    "z": "medibox_dashboard",
    "name": "",
    "topic": "medibox/config/gamma",
    "qos": "2",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 300,
    "y": 360,
    "wires": []
  },
  {
    "id": "slider_t_med",
    "type": "ui_slider",
    "z": "medibox_dashboard",
    "group": "servo_group",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Ideal Temp",
    "label": "Ideal Temp (°C)",
    "min": 10,
    "max": 40,
    "value": 30,
    "step": 1,
    "x": 100,
    "y": 400,
    "wires": [["mqtt_out_t_med"]]
  },
  {
    "id": "mqtt_out_t_med",
    "type": "mqtt out",
    "z": "medibox_dashboard",
    "name": "",
    "topic": "medibox/config/t_med",
    "qos": "2",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 300,
    "y": 400,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "light_group",
    "type": "ui_group",
    "name": "Light Intensity",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "servo_group",
    "type": "ui_group",
    "name": "Servo Control",
    "tab": "dashboard_tab",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "dashboard_tab",
    "type": "ui_group",
    "name": "Medibox",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  }
]